body {
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: left;
    font-size: 24px;
}

img {
    width: 100px;
    height: 100px;
    align-content: right;
    margin-left: 160px;
    margin-bottom: 0%;
    border-radius: 50px;
}

.card1 {
    width: 300px;
    /* Set the width of the card */
    padding: 20px;
    /* Add some padding to the content inside the card */
    border: 1px solid #ccc;
    /* Add a border for the card */
    border-radius: 8px;
    /* Round the corners of the card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add a shadow to the card */
    background-color: #1f10f0;
    /* Set the background color of the card */
    margin-left: 500px;
    /* Add margin to separate cards */
    text-align: center;
    /* Center-align text inside the card */
    height: 400px;
    margin-top: 20px
}

h4 {
    text-align: left;
    margin-top: -100px;
    margin-bottom: 100px;
    margin-left: -10px;
}

h3 {
    text-align: left;
}